body
{
    color: red;
    text-align: center; 
    font-family: "Bebas";
    font-size: 16px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 40px;
}